
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-Czd {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;

  .auto-group-ykjh-vfj {
    box-sizing: border-box;
    padding: 2.2rem 1.8rem 1.6rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0174ab;
    flex-shrink: 0;
    margin-bottom: 9.25rem;

    .kjsce-logo-1-RsP {
      margin-right: 1.5rem;
      width: 13.8rem;
      height: 11.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .blacketalogo-1-mAZ {
      flex-shrink: 0;
      margin: 0rem 8.4rem 1.9rem 0rem;
      width: 28.9rem;
      height: 9.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .home-shell-eco-marathon-cars-blog-sponsors-team-alumni-contact-sUV {
      margin-top: 0.1rem;
      justify-content: center;
      line-height: 1.2125;
      letter-spacing: 0.17rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .team-eta-is-a-student-team-that-participates-annually-in-the-shell-eco-marathon-shell-eco-marathon-is-one-of-the-worlds-leading-energy-efficiency-competition-programmes-students-are-challenged-to-design-build-and-test-energy-efficient-cars-pushing-the-boundaries-of-what-is-technically-possible-KbP {
    align-items: center;
    font-weight: 300;
    line-height: 1.2575;
    letter-spacing: 0.32rem;
    margin-left: 0.7rem;
    display: flex;
    font-size: 3.2rem;
    color: #ffffff;
    font-family: Open Sans Hebrew, 'Source Sans Pro';
    flex-shrink: 0;
    max-width: 139.4rem;
    justify-content: center;
  }
  .auto-group-tmek-t2D {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.85rem 2.95rem 3.4rem 3.4rem;
    width: 100%;
    align-items: center;

    .auto-group-fr23-CYh {
      margin-bottom: 7rem;
      width: 100%;
      height: 135.4rem;
      position: relative;
      flex-shrink: 0;

      .image-2-KdK {
        width: 110rem;
        height: 59.6rem;
        position: absolute;
        left: 27.6rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-2-Dih {
        left: 0;
        top: 11.4rem;
        border: solid 0.2rem #0174ab;
        box-sizing: border-box;
        background-color: rgba(10, 11, 11, 0.7799999714);
        width: 51rem;
        height: 66.8rem;
        position: absolute;
      }
      .to-build-a-fuel-efficient-vehicle-to-combat-current-problem-and-create-a-sustainable-future-for-coming-generations-we-are-eta-a-compassionate-group-of-young-engineers-who-believe-in-bringing-a-change-to-the-traditional-conventions-followed-in-todays-automobile-industry-leading-to-a-carbon-neutral-earth-vND {
        height: 36.2rem;
        justify-content: center;
        font-family: Marcellus, 'Source Sans Pro';
        position: absolute;
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 46.4rem;
        top: 26.6rem;
        font-size: 2.4rem;
        line-height: 1.255;
        letter-spacing: 0.36rem;
        color: #0174ab;
        left: 2.3rem;
      }
      .our-vision-GqP {
        height: 3.1rem;
        position: absolute;
        top: 67.25rem;
        align-items: center;
        color: #0174ab;
        white-space: nowrap;
        display: flex;
        font-size: 2.4rem;
        width: 15.6rem;
        left: 30.85rem;
        justify-content: center;
        font-weight: 400;
        line-height: 1.255;
        letter-spacing: 0.24rem;
        font-family: Marcellus, 'Source Sans Pro';
      }
      .image-1-xiD {
        object-fit: cover;
        vertical-align: top;
        width: 73.7rem;
        height: 52.4rem;
        position: absolute;
        left: 0;
        top: 83rem;
      }
      .about-us-rob {
        display: flex;
        white-space: nowrap;
        width: 38.6rem;
        top: 64.85rem;
        align-items: center;
        line-height: 1.255;
        letter-spacing: 0.96rem;
        color: #ffffff;
        font-family: Marcellus, 'Source Sans Pro';
        left: 85.95rem;
        font-weight: 400;
        height: 8.1rem;
        position: absolute;
        justify-content: center;
        font-size: 6.4rem;
      }
      .it-all-started-in-2013-when-a-group-of-students-from-kj-somaiya-college-of-engineering-felt-the-need-to-use-their-technical-knowledge-and-management-skills-to-develop-and-innovate-technology-for-the-benefit-of-mankind-that-is-when-they-all-came-together-as-team-eta-with-a-goal-of-providing-a-sustainable-future-to-the-world-using-technological-innovations-to-achieve-mileage-in-numbers-that-appeared-to-be-just-a-dream-for-the-current-world-since-then-the-team-worked-tirelessly-with-the-utmost-commitment-dedication-and-countless-of-sleepless-nights-to-develop-and-be-the-proud-makers-of-jugaad-j-14-arya-triton-mahil-and-yugant-prototypes-j6h {
        letter-spacing: 0.36rem;
        font-family: Manrope, 'Source Sans Pro';
        height: 59rem;
        display: flex;
        font-weight: 400;
        line-height: 1.365;
        font-size: 2.4rem;
        width: 61rem;
        justify-content: center;
        color: #ffffff;
        position: absolute;
        left: 76.65rem;
        top: 76.2rem;
        align-items: center;
      }
    }
    .line-1-Xwf {
      flex-shrink: 0;
      margin: 0rem 1.05rem 6.1rem 0rem;
      width: 135.8rem;
      height: 0.2rem;
      background-color: #07f0ff;
    }
    .auto-group-dhet-T4d {
      margin: 0rem 5.45rem 6.6rem 3.1rem;
      width: calc(100% - 8.55rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .team-members-AUq {
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 5.3rem;
        max-width: 22.4rem;
        align-items: center;
        flex-shrink: 0;
        display: flex;
        letter-spacing: 0.24rem;
        color: #ffffff;

        .team-members-AUq-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 600;
          line-height: 1.2125;
          letter-spacing: 0.24rem;
          color: #ffffff;
        }
        .team-members-AUq-sub-1 {
        }
      }
      .cars-designed-VBf {
        align-items: center;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.2rem 6.8rem 0rem 0rem;
        max-width: 19.8rem;
        display: flex;
        justify-content: center;
        font-size: 9.6rem;
        line-height: 1.2125;
        letter-spacing: 0.96rem;
        color: #ffffff;

        .cars-designed-VBf-sub-0 {
        }
        .cars-designed-VBf-sub-1 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          letter-spacing: 0.96rem;
        }
      }
      .awards-won-pdF {
        letter-spacing: 0.24rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        flex-shrink: 0;
        margin-right: 5.2rem;
        max-width: 19.4rem;

        .awards-won-pdF-sub-0 {
          font-weight: 600;
          line-height: 1.2125;
          letter-spacing: 0.24rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 9.6rem;
        }
        .awards-won-pdF-sub-1 {
        }
      }
      .national-event-won-zRF {
        max-width: 23rem;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 0.4rem 3.4rem 0rem 0rem;
        display: flex;
        font-size: 9.6rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.96rem;
        flex-shrink: 0;

        .national-event-won-zRF-sub-0 {
        }
        .national-event-won-zRF-sub-1 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          letter-spacing: 0.96rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .international-event-won-X3o {
        max-width: 23.8rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        letter-spacing: 0.96rem;
        flex-shrink: 0;
        justify-content: center;
        font-size: 9.6rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';

        .international-event-won-X3o-sub-0 {
        }
        .international-event-won-X3o-sub-1 {
          letter-spacing: 0.96rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
        }
      }
    }
    .remaining-same-as-previous-website-h6h {
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      line-height: 1.365;
      letter-spacing: 0.36rem;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      margin-right: 3.35rem;
    }
  }
}
