
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-hNq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #0d0d0d -0%, rgba(210, 220, 226, 0) 36.98%, #000000 100%);
}
.desktop-3-hNq .auto-group-jjqb-2vu {
  box-sizing: border-box;
  padding: 2.2rem 1.8rem 1.6rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0174ab;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-jjqb-2vu .kjsce-logo-1-xZf {
  margin-right: 1.5rem;
  width: 13.8rem;
  height: 11.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-jjqb-2vu .blacketalogo-1-Hbw {
  margin: 0rem 8.4rem 1.9rem 0rem;
  width: 28.9rem;
  height: 9.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-jjqb-2vu .home-shell-eco-marathon-cars-blog-sponsors-team-alumni-contact-zmF {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.17rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-nnaf-GTs {
  margin-bottom: 0.35rem;
  box-sizing: border-box;
  padding: 16.4rem 8.05rem 24.2rem 24.05rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 133.846% 165.714%;
  background-position: -24.3692rem 0;
  background-image: url('../assets/image-3-bg.png');
  background-color: rgba(247, 237, 237, 0.5899999738);
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-nnaf-GTs .reasons-to-sponsor-P2h {
  margin-bottom: 0.3006rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1975;
  letter-spacing: 0.96rem;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-nnaf-GTs .line-2-Hds {
  margin-right: 0.3rem;
  width: 94.3rem;
  height: 0.0994rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-nnaf-GTs .auto-group-nnaf-GTs-bg {
  width: 144rem;
  height: 52.5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:2107cd8b6c373bb55ec0fc7446006b1d6c728070');
}
.desktop-3-hNq .key-benefits-same-as-previous-upto-sponsorship-avenue-pXK {
  margin: 0rem 0.1rem 6.95rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .key-benefits-same-as-previous-upto-sponsorship-avenue-pXK .key-benefits-same-as-previous-upto-sponsorship-avenue-pXK-sub-0 {
}
.desktop-3-hNq .key-benefits-same-as-previous-upto-sponsorship-avenue-pXK .key-benefits-same-as-previous-upto-sponsorship-avenue-pXK-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Sans, 'Source Sans Pro';
}
.desktop-3-hNq .title-sponsors-M9s {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D {
  box-sizing: border-box;
  padding: 5rem 1rem 14.792rem 1.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .image-4-aYR {
  margin: 0rem 7.5rem 8.2rem 0rem;
  width: 102.4rem;
  height: 16.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .gold-sponsors-6Fs {
  margin: 0rem 2.6rem 4.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-m4o5-nuP {
  margin-bottom: 4.3rem;
  width: 100%;
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-m4o5-nuP .image-13-Xry {
  margin-top: 0.8rem;
  width: 43.7rem;
  height: 10.7rem;
  position: relative;
  background-size: 116.904% 99.245%;
  background-position: -6.8427rem 0.0404rem;
  background-image: url('../assets/image-13.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-m4o5-nuP .image-9-BRj {
  margin-bottom: 0.8rem;
  width: 57rem;
  height: 10.7rem;
  position: relative;
  background-size: 100% 102.804%;
  background-position: 0 0rem;
  background-image: url('../assets/image-9.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-m4o5-nuP .image-11-Tu3 {
  margin-bottom: 1.2rem;
  width: 37.6rem;
  height: 8.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-wmgp-zPB {
  margin: 0rem 2.7rem 5.4rem 5.3rem;
  width: calc(100% - 8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-wmgp-zPB .image-12-7Cu {
  margin-right: 2.4rem;
  width: 96.6rem;
  height: 11.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-wmgp-zPB .image-5-36Z {
  width: 34.9rem;
  height: 10.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .silver-sponsors-Zah {
  margin: 0rem 2.6rem 4.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy {
  margin: 0rem 0rem 1.11rem 1.9rem;
  height: 8.5899rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy .vactech-1-CNm {
  margin: 0.095rem 2rem 0rem 0rem;
  width: 33.3rem;
  height: 7.6846rem;
  position: relative;
  background-size: 132.051% 214.602%;
  background-position: -4.0321rem -3.9443rem;
  background-image: url('../assets/vactech-1.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy .image-14-4fs {
  width: 33.3rem;
  height: 8.5899rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy .auto-group-da99-QDw {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.327rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy .auto-group-da99-QDw .image-15-jX7 {
  margin-right: 2rem;
  width: 33.3rem;
  height: 7.8625rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-dgef-Tvy .auto-group-da99-QDw .image-16-e8H {
  margin-bottom: 0.6583rem;
  width: 33.3rem;
  height: 5.6042rem;
  position: relative;
  background-size: 100% 111.554%;
  background-position: 0rem -0.6475rem;
  background-image: url('../assets/image-16.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 {
  margin: 0rem 0.4rem 3.484rem 2.3rem;
  width: calc(100% - 2.7rem);
  height: 15.3159rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 .auto-group-gcwd-zrM {
  box-sizing: border-box;
  padding: 0.9rem 2rem 0.885rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 .auto-group-gcwd-zrM .altium-1-iGZ {
  margin-bottom: 0.0146rem;
  width: 33.3rem;
  height: 8.1161rem;
  position: relative;
  background-size: 141.398% 333.088%;
  background-position: -6.1468rem -8.6532rem;
  background-image: url('../assets/altium-1.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 .auto-group-gcwd-zrM .fmt-1-apZ {
  width: 33.3rem;
  height: 13.5307rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 .auto-group-gcwd-zrM .whatsapp-image-2023-10-04-at-2107-1-7pV {
  margin-top: 0.1758rem;
  width: 33.3rem;
  height: 8.3064rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .auto-group-chpf-6W5 .whatsapp-image-2023-10-04-at-2107-2-cmF {
  width: 33.3rem;
  height: 15.3159rem;
  position: relative;
  background-size: 229.968% 100%;
  background-position: -0rem 0;
  background-image: url('../assets/whatsapp-image-2023-10-04-at-2107-2.png');
  border-radius: 7rem;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .bronze-sponsors-Vq3 {
  margin: 0rem 0.2rem 4.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-hNq .auto-group-ocef-s8D .bentork-1-np9 {
  margin-right: 0.1rem;
  width: 25rem;
  height: 8.1081rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7rem;
  flex-shrink: 0;
}
